dotenv==0.9.9
Flask==3.1.2
hf-xet==1.2.0
llama-index-core==0.14.9
llama-index-embeddings-huggingface==0.6.1
llama-index-instrumentation==0.4.2
llama-index-llms-google-genai==0.7.4
llama-index-readers-file==0.5.5
llama-index-retrievers-bm25==0.6.5
llama-index-vector-stores-pinecone==0.7.1
llama-index-workflows==2.11.5
markdown-it-py==4.0.0
markdown2==2.5.4
pinecone==7.3.0
pinecone-plugin-assistant==1.8.0
pinecone-plugin-interface==0.0.7
pinecone-text==0.11.0
python-dotenv==1.2.1